PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxxx.mongodb.net/git-visual?retryWrites=true&w=majority
JWT_SECRET=super_secret_cryptographic_key_for_jwt_tokens_987654321
NODE_ENV=development
